@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p>Δεν έχετε δικαίωμα πρόσβασης σε αυτή τη σελίδα.</p>

<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Επιστροφή</a>