
/* ================================
   Filter - Materials Form Style
================================ */

.filter-control {
    height: 44px;
}

    .filter-control.form-control,
    .filter-control.form-select {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

.select-width-sm {
    width: 90px;
}

.select-width-md {
    width: 100px;
}
