/* ================================
   Searchable Selects / TomSelect
================================ */

.ts-dropdown {
    max-height: 320px;
    overflow-y: auto;
}

    .ts-dropdown .ts-dropdown-content {
        max-height: 300px;
        overflow-y: auto;
    }
